* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial;
    color: #ffffff;
}

/*******************/
/* Side Navigation */
/*******************/

.side-nav {
    width: 15%;
    float: left;
    background: #252525;
    height: 100vh;
    position: relative;
}

.side-nav a {
    color: #ffffff;
    transition: color 0.4s;
}

.side-nav .greeting {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.side-nav .greeting .site {
    display: block;
    font-weight: normal;
}

.side-nav ul {
    position: relative;
    top: 25%;
    list-style-type: none;
    padding-left: 30%;
}

.side-nav ul li {
    margin-bottom: 30px;
}

.side-nav ul li a {
    text-decoration: none;
}

.side-nav ul li a:hover {
    color: #cccccc;
}

.side-nav ul li a:hover.active {
    border-color: #4f4f4f;
}

.side-nav .active {
    padding-bottom: 10px;
    border-bottom: 1px solid #686868;
    transition: color 0.4s, border-color 0.4s;
}

.side-nav .copyright {
    position: absolute;
    bottom: 0;
    font-size: 0.625em;
    text-align: center;
    margin: 0 auto;
    padding: 20px 10px;
    color: #515151;
}

/***********/
/* Content */
/***********/

.content {
    width: 85%;
    float: left;
    background: #3d3d3d;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

.content h1 {
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
}

.content .button {
    background: #787878;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    transition: color 0.4s, background-color 0.4s;
}

.content .button:hover {
    color: #c6c6c6;
}

/*******************/
/* Content - Pages */
/*******************/

.content.pages h1 {
    float: left;
}

.content.pages .button.new {
    float: right;
    background: #3b9fcb;
}

.content.pages .button.new:hover {
    background: #287ca1;
}

.content.pages .table-pages {
    width: 100%;
    border-spacing: 0 10px;
}

.content.pages .table-pages th {
    font-weight: normal;
    text-align: left;
}

.content.pages .table-pages td {
    height: 50px;
    background: #353535;
    font-size: 1.25em;
}

.content.pages .table-pages .column-name {
    width: 30%;
    padding-left: 15px;
}

.content.pages .table-pages .column-updated {
    width: 50%;
}

.content.pages .table-pages .column-edit {
    width: 20%;
}

.content.pages .table-pages .button.edit {
    background: #62cf76;
    width: 100%;
    height: 100%;
}

.content.pages .table-pages .button.edit:hover {
    background: #4b9d5a;
}
